header {
    width: 100%;
    background-color: lightblue;
  }
  
  h2 {
    text-align: left;
  }
  
  nav {
    text-align: right;
    color: #ffffff;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    display: inline; /* Display list items inline */
    list-style-type: none;
    font-size: 40px;
    margin-right: 20px; /* Add spacing between list items */
  }
  
  section {
    text-align: center;
  }
  
  img {
    display: block; /* Display images on their own line */
    margin: 20px auto; /* Center images */
  }
  
  #item-1 {
    background-color: #e0115f;
  }
  
  #item-2 {
    background-color: #0000ff;
  }
  
  #item-3 {
    background-color: #999900;
  }